.tableContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.usersTable {
    width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.usersTable thead {
    background-color: #853be6;
    color: white;
}

.usersTable th,
.usersTable td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.usersTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.usersTable tr:hover {
    background-color: #ddd;
}

.usersTable img {
    border-radius: 5px;
}